<form name="userForm" novalidate ng-submit="changePassword()">
  <md-input-container flex>
    <label>Old Password</label>
    <input type="password" name="oldPassword" ng-model="oldPassword" required>
    <div ng-messages="userForm.oldPassword.$error">
      <div ng-message="required">This is required.</div>
    </div>
  </md-input-container>
  <md-input-container flex>
    <label>New Password</label>
    <input type="password" name="newPassword" ng-model="newPassword" required un-matcher="{{oldPassword}}">
    <div ng-messages="userForm.newPassword.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="unMatcher">New Password cannot be same as Old Password.</div>
    </div>
  </md-input-container>
  <md-input-container flex>
    <label>Confirm Password</label>
    <input type="password" name="confirmPassword" ng-model="confirmPassword" required matcher="{{oldPassword}}">
    <div ng-messages="userForm.confirmPassword.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="matcher">Confirm Password should be same as old Password.</div>
    </div>
  </md-input-container>
  <md-button type="submit" class="md-raised md-primary" ng-disabled="userForm.$invalid">Sumbit</md-button>
</form>