<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="add-user-form">
  <md-card flex="flex" flex-gt-sm="50" flex-gt-md="50">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span>Add User</span></h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <form class="form" name="AddUserForm" novalidate ng-submit="addUser()">
        <md-input-container class="md-block">
          <label>First Name</label>
          <input type="text" name="fname" ng-model="fname" placeholder="First Name" required="" />
        </md-input-container>
        <md-input-container class="md-block">
          <label>Last Name</label>
          <input type="text" name="lname" ng-model="lname" placeholder="Last Name" required="" />
        </md-input-container>
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="text" name="email" ng-model="email" placeholder="Your Email" required="" />
        </md-input-container>
        <md-input-container class="md-block">
          <md-checkbox ng-model="isactive" aria-label="Is Active">
            Is Active
          </md-checkbox>
        </md-input-container>
        <md-button type="submit" ng-disabled="!AddUserForm.$valid" class="md-raised md-primary">&nbsp Add User &nbsp</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>